<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="triangle" class="com.justin.shapeImpl.Triangle">
<constructor-arg value="red"></constructor-arg>
</bean>
<bean id="circle" class="com.justin.shapeImpl.Circle">
<constructor-arg value="blue"></constructor-arg>
</bean>
<bean id="square" class="com.justin.shapeImpl.Square">
<constructor-arg value="green"></constructor-arg>
</bean>
<bean id="mixshape" class="com.justin.shapeImpl.MixShape">
<property name="aTriangle" ref="triangle"></property>
<property name="aCircle" ref="circle"></property>
<property name="aSquare" ref="square"></property>
</bean>
<bean id="calculateAge" class ="com.justin.businessLogic.calculation.impl.CalculateAgeImpl">
<property name="myDOB" value="4"></property>
</bean>
<bean id="calculateSalary" class="com.justin.businessLogic.calculation.impl.CalculateSalary">
<property name="basic" value="10000"></property>
<property name="TA" value="100"></property>
</bean>
<bean id="pointA" class="com.justin.shapeImpl.Point">
<property name="x" value="0"></property>
<property name="y" value="0"></property>
</bean>
<bean id="pointB" class="com.justin.shapeImpl.Point">
<property name="x" value="10"></property>
<property name="y" value="0"></property>
</bean>
<bean id="pointC" class="com.justin.shapeImpl.Point">
<property name="x" value="0"></property>
<property name="y" value="10"></property>
</bean>
<!-- autowire example TrianlgePoint has member variables same name as pointA,pointB and pointC -->
<bean id="trianglePoint" class="com.justin.shapeImpl.TrianglePoint" autowire="byName"></bean>
</beans>